{
  "extends": "stylelint-config-standard",
  "processors": ["stylelint-processor-html"],
  "rules": {
    "indentation": "tab",
    "rule-empty-line-before": [ "always-multi-line", {
      "except": ["first-nested"],
      "ignore": ["after-comment", "inside-block"]
    } ]
  }
}
