/*@import "partial.css";

:root {
	--backgroundColor: blue;
}

body {
	background-color: var(--backgroundColor);
}*/

body {
	background-color: hotpink;
}

.media {
	display: flex;
	align-items: flex-start;
	&__figure {
		margin-right: 1em;
	}
	&__body {
		flex: 1;
	}
}
